/*
This File contains parameters that can be changed to configure the pipeline
*/

// Max resource options
// Defaults only, expecting to be overwritten
params.max_memory                 = '100.GB'
params.max_cpus                   = 16
params.max_time                   = '24.h'


// Required Pipeline Config Settings
params.sample_sheet = '/bulk/ksilver/testing_data/balrong_ont/samplesheet_subset.csv'

params.project_name = 'Template'

params.publish_dir_mode = 'defualt' // Options: 'defualt', copy', 'symlink', 'link'  Note: Defualt recommended (copy, exept on resume). When using link (Hardlink) output dir and work dir must be on the same filesystem 

params.workflow_opt = 'paired' // (paired, mulitqc)

params.apikey = 'apikey'. // NCBI API KEY



// Short Read Settings

params.sequencing_adapter_type = 'illumina'  // (aviti, illumina, custom) - only applies to short read sequencing

params.custom_sequencing_adapter_r1 = null // Insert R1 sequencing adapter if custom was chosen

params.custom_sequencing_adapter_r1 = null // Insert R2 sequencing adapter if custom was chosen

params.fastp_q = '20'  // Average Q score for fastp - Short read Only

params.fastp_minlen = '100'


// Load base.config by default for all pipelines
includeConfig 'configs/base_config.cfg'



// Setting sequencing adapters based on previous settings

if (params.sequencing_adapter_type == 'aviti') {

    params.fastp_adap1 = 'ATGTCGGAAGGTGTGCAGGCTACCGCTTGTCAACT'
    params.fastp_adap2 = 'ATGTCGGAAGGTGTCTGGTGAGCCAATCCAGCACG'
    params.fastqc_adapt = 'adapter_list_aviti.txt'

    }

if (params.sequencing_adapter_type == 'custom') {

    params.fastp_adap1 = params.custom_sequencing_adapter_r1
    params.fastp_adap2 = params.custom_sequencing_adapter_r2
    
    }

if (params.sequencing_adapter_type == 'illumina') {

    params.fastp_adap1 = null
    params.fastp_adap2 = null
    
    }



// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}